<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzx.user.dao.PermissionMapper">


    <select id="listByUserId" parameterType="String" resultType="com.lzx.user.entity.Permission">
        select distinct p.id , p.url, p.http_method from sys_permission p
        left join sys_role_permission rp on rp.permission_id = p.id
        left join sys_user_role ur on ur.role_id = rp.role_id
        <where>
            <if test="null!=userId and userId!=''">
                ur.user_id = #{userId}
            </if>
        </where>
    </select>

</mapper>